:root{
    --color-blue: #004aad;
    --color-black: #000000;
    --color-light: #f9f9f9;
    --color-opaque:#757575;
    --color-white:#d3d3d3;
    --color-divider:#bdbdbd;
    --color-blue-hover: #00367a;
    --color-white-hover: #ededed;
    --color-disabled: #e0e0e0;
    --color-danger: #db3232;
    --color-ghost:#EEEEEE;
    --color-dark: #0A0A0A;
    --color-dark2:#1A1A1A;
    --color-background:#FFFFFF;

    --font-default:'Barlow', sans-serif;
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
   font-family: var(--font-default);
}



