@import url('default.css');

/*NAVBAR-NAVBAR-NAVBAR-NAVBAR*/ 

header{
    height: 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 2px 8%;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin: 2px 15px;
}

li a{
    transition: 200ms ease-in-out;
}

li a:hover{
    color: var(--color-blue);
}

a{
    text-decoration: none;
    color: var(--color-opaque);
}

.btn a{
    border:2px solid var(--color-blue);
    padding: 15px 65px;
    color: var(--color-blue);
    font-weight: bold;
    transition: 200ms ease-in-out;
}

.btn a:hover{
    background-color: var(--color-blue);
    color: var(--color-white);
}

.logo-links{
    display: flex;
    align-items: center;
}

.links{
    margin-left: 12%;
}

.logo-links .logo img{
    height: auto;
    width: 90px;
    padding: 2px;
}
    

 
