:root {
  /*Colors*/
  --color-blue: #004aad;
  --color-black: #000000;
  --color-light: #f9f9f9;
  --color-opaque: #757575;
  --color-white: #ffffff;
  --color-divider: #bdbdbd;
  --color-blue-hover: #00367a;
  --color-white-hover: #ededed;
  --color-disabled: #e0e0e0;
  --color-danger: #db3232;
  --color-ghost: #eeeeee;
  --color-dark: #0a0a0a;
  --color-dark2: #1a1a1a;
  --color-success: #00C951;

  /*Default Font*/
  --font-default: "Barlow", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-default);
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-white);
}
