/* Default imports */
@import url("default.css");

body{
   scroll-behavior: smooth;
}

/* Mobile <= 480px */
@media screen and (max-width: 480px) {
}

/* Mobile >= 480px */
@media screen and (min-width: 480px) {
  body {
    background-color: yellow;
  }

  .links {
    display: none;
  }

  .btn {
    display: none;
  }

  .menu {
    border: 1px solid red;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    width: 60vw;
  }

  .menu-container ul {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    height: 100vh;
  }

  .menu-container ul li {
    margin: 10px 0px;
  }

  #close-menu {
    width: 100%;
  }

  #close-menu .line {
    height: 2px;
    content: "";
    width: 100%;
    margin: 10px;
    background-color: var(--color-blue);
  }
}

/* Tablet >= 768px */
@media screen and (min-width: 768px) {
  body {
    background-color: green;
  }
}

/* Desktop >= 1024px */
@media screen and (min-width: 1024px) {
  /*Menu mobile*/
  .menu {
    display: none;
  }

  .links {
    display: flex;
  }

  .btn {
    display: flex;
    text-transform: uppercase;
  }

  body {
    background: var(--color-white);
  
  }

  nav {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2px 8%;
    align-items: center;
    z-index: 100;
  }

  nav ul {
    list-style: none;
    display: flex;
  }

  nav ul li {
    margin: 2px 15px;
  }

  li a {
    transition: 180ms ease-in-out;
  }

  li a:hover {
    color: var(--color-blue);
  }

  a {
    text-decoration: none;
    color: var(--color-opaque);
  }

  .btn a {
    border: 2px solid var(--color-blue);
    padding: 15px 60px;
    color: var(--color-blue);
    font-weight: bold;
    transition: 180ms ease-in-out;
  }

  .btn a:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
  }

  .logo-links {
    display: flex;
    align-items: center;
  }

  .links {
    margin-left: 12%;
  }

  .logo-links .logo img {
    height: auto;
    width: 90px;
    padding: 2px;
  }

  .header-content {
    padding: 0% 8%;
    display: flex;
    position: relative;
    align-items: center;
    top: -10%;
  }

  .header-content .container {
    width: 45vw;
  }

  .header-content p {
    margin: 2% 0%;
    font-size: 1.1rem;
    margin-right: 10%;
    color: var(--color-opaque);
  }

  .header-content .image {
    width: 55vw
  }

  /* Header */
  .header-content h1 {
    color: var(--color-black);
    font-size: 48px;
  }

  .header-content .emphasis {
    color: var(--color-blue)
  }

  .header-content .image img {
    width: 100%;
    pointer-events: none;
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    color: var(--color-black);
    text-transform: uppercase;
  }

  .buttons a {
    transition: 180ms ease-in-out;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid var(--color-blue);
    padding: 16px 30px;
    color: var(--color-white);
    background-color: var(--color-blue);
  }

  .buttons a:hover {
    background-color: var(--color-blue-hover);
  }

  .buttons a:nth-child(2) {
    transition: 180ms ease-in-out;
    border: 2px solid var(--color-ghost);
    background-color: var(--color-white);
    color: var(--color-dark);
  }

  .buttons a:nth-child(2):hover {
    border: 2px solid var(--color-ghost);
    background-color: var(--color-ghost);
  }

  /* Chat */
  .chat-container {
    display: none;
    width: 25vw;
    margin-right: 5px;
    flex-direction: column;
  }

  .chat {
    position: fixed;
    right: 8%;
    bottom: 8%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
  }

  .header-chat {
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
  }

  .content-chat {
    padding: 5px 10px;
  }

  .date-time-ai, .date-time-user {
    font-size: 0.8rem;
  }

  .date-time-user {
    display: flex;
    justify-content: flex-end;
    margin: auto;
  }

  .text-chat {
    border: 1px solid var(--color-white);
  }

  #send-chat {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #send-chat textarea {
    padding: 5px;
    border: none;
    width: 75%;
    resize: none;
    background-color: var(--color-ghost);
  }

  #send-chat textarea:focus-visible {
    outline: 1px solid var(--color-blue);
  }

  #send-chat button {
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0px 8px;
    border: 3px solid var(--color-blue);
    color: var(--color-white);
    background-color: var(--color-blue);
  }

  #send-chat button svg {
    width: 25px;
    height: auto;
    margin: 0px 3px 0px 0px;
  }

  .baloon-ai {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 5px 8px;
    margin-top: 5px;
  }

  .baloon-user {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: var(--color-opaque);
    color: var(--color-white);
    padding: 5px 8px;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: 5px;
  }

  .header-chat-item {
    display: flex;
    align-items: center;
  }

  .chat svg {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .body-chat {
    height: 50vh;
    background-color: var(--color-white);
    border: 1px solid var(--color-opaque);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .input-chat {
    background-color: var(--color-blue);
    border: 1px solid var(--color-white);
  }

  .avaliable {
    background-color: var(--color-success);
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50px;
    margin-right: 5%;
  }
}


.container-info {
  display: flex;
  width: auto;
  height: 30vh;
  background-color: var(--color-blue);
  justify-content: center;

}

.container-info h1{
  color: var(--color-white);
  font-size: 40px;

}

.container-info p {
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 14px;
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  padding: 0px 100px;
}

.container-desenvolvimento{
  background-color: var(--color-white);
  display: flex;
  width: auto;
  height: 80vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-desenvolvimento h1{
  font-size: 45px;
  padding-bottom: 50px;
}

.blocos-desenvolvimento{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.info-desenvolvimento{
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-opaque);
  width: 25vw;
  height: 38vh;
  padding: 60px 30px;
}

.info-desenvolvimento:hover{
  border: 2px solid var(--color-blue);
  transition: 180ms ease-in-out;
}

.info-desenvolvimento img {
  width: 50px;
  height: auto;
  padding-bottom: 15px;
}

.info-desenvolvimento h3 {
  padding-bottom: 15px;
}

.container-instalacao{
  background-color: var(--color-dark);
  width: auto;
  height: 60vh;
  display: flex;
  flex-direction: row;
  color: var(--color-white);
  justify-content: center;
  align-items: center;
  gap: 7vw;
}

.info-instalacao{
  padding: 80px 50px;
}

.espacamento{
  padding-left: 2vw;
  padding-bottom: 2vh;
}

.info-instalacao h2{
  font-weight:inherit;
  padding-top: 20px;
  padding-bottom: 30px;
}

.container-instalacao img{
  width: 35vw;
}

.fundo-azul{
  background-color: var(--color-blue);
  color: var(--color-black);
}


.container-contato{
  display: flex;
  width: auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.contato {
  display: flex;
  border: 1px solid var(--color-opaque);
  width: 80vw;
  height: 80vh;
  gap: 7vw;
  padding-left: 60px;
  padding-top: 50px;

}

.contato h1 {
  color: var(--color-blue);
  font-size: 55px;
  margin-bottom: 2vh;
}

.input-contato input {
  border: 2px solid var(--color-divider);
  background-color: var(--color-ghost);
  width: 35vw;
  height: 7vh;
  color: var(--color-opaque);
  padding-left: 12px;
}

.input-contato select {
  border: 2px solid var(--color-divider);
  background-color: var(--color-ghost);
  width: 35vw;
  height: 7vh;
  color: var(--color-opaque);
  padding-left: 12px;
}

.input-contato label input {
  border: 2px solid var(--color-divider);
  background-color: var(--color-ghost);
  width: 35vw;
  height: 15vh;
  color: var(--color-opaque);
}


.input-contato h3 {
  font-size: 0.8rem;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.container-contato .info-contato p {
  color: var(--color-opaque);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin: 0px;
  margin-bottom: 10px;
}

.info-contato {
  border-left: 4px solid var(--color-blue);
  margin-bottom: 10px;
  padding-left: 10px;
}

.texto-contato p {
  font-size: 20px;
  margin-bottom: 30px;
  color: var(--color-dark2);
}

.texto-contato {
  padding: 5px;
}

.input-contato .buttons {
  margin-top: 20px;
  display: flex;
  color: var(--color-black);
  text-transform: uppercase;
}

.input-contato .buttons a {
  transition: 180ms ease-in-out;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight:inherit;
  border: 2px solid var(--color-blue);
  padding: 16px 30px;
  color: var(--color-white);
  background-color: var(--color-blue);
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-contato .buttons a:hover {
  background-color: var(--color-blue-hover);
}